/* div {
    background-color: rgb(73, 131, 182);
    padding: 10px;
    border-radius: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    font: Arial, sans-serif;

} */
 body {
    font : normal 12pt Arial, sans-serif;
    background-color: #f5f1f1;
    color: #333
 }
 input {
    font: normal 12pt Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
 }